<%= form_with(model: @chatroom, local: true) do |form| %>
    <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    
    </div>
  <div>
    <%= form.submit 'Create room' %>
  </div>
<% end %>